*{
    margin: 0;padding: 0;box-sizing: border-box;
}
h3{
    font-size: 20px;
    background-color: rgb(240, 12, 12);
    justify-items: center;
    left: 700px;
  
}
h6{
    background-color: aquamarine;
    font-size: 1.2cqw;
    background-color: rgb(192, 184, 38);
    justify-content: center;
    align-items: center;
}
.impresion{
    background-color: rgb(16, 243, 9);
    background-color: rgb(241, 12, 12);
    margin-top: -120px;
    text-align: right;
}

.impresion{
    right:  0%;
    height: 0%;
    position: fixed;
    border-radius: 10px;
}

.container{
    width: 100%;
    height: 100vh;

}
.container figure{
    width: 1500px;
    height: 500px;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 5px;
    box-shadow: 1px 10px 15px rgba(red, green, blue, alpha);
    position: fixed;
}
.container figure img{
    width: 90%;
    height:90%;
    transition: all 650ms ease;
}
.container figure img:hover{
    transform: scale(1.5);
    cursor: pointer;

}

 